body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background: #ededed;
    font-size: 1.2rem;
}

body:fullscreen {
    transform: scale(200%);
}

h1, h2 {
    /* font-size: 2rem; */
}

#displayer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    overflow: hidden;
    text-align: center;
    background: white;
    animation: basicFadeIn 0.5s;
}

#btn-container {
    position: fixed;
    bottom: 0;
    right: 0;
}

a.btn {
    font-size: 12px;
    cursor: pointer;
    color: grey;
    text-decoration: none;
    outline: 1px dashed grey;
    margin: 1px;
    padding: 5px;
    opacity: 0.3;
}

a.btn:hover {
    opacity: 1;
}

@keyframes basicFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}