#displayer {
    
}

#page-2 img {
    max-width: 300px;
}


/* code {
    border-radius: 5px;
    color: white;
    background: black;
    border-left: 5px solid #ababab;
    width: 100%;
}

pre {
    margin: 50px;
} */