@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Qwigley&display=swap');

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background: white;
    font-size: 1.2rem;
    font-weight: 400;
}

body:fullscreen {
    transform: scale(200%);
}

em {
    font-weight: 300;
    font-family: 'Qwigley', cursive;
}

p {
    font-weight: 400;
}

h1 {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1rem;
}

b {
    font-weight: 900;
}

h2 {
    font-weight: 400;
}

#displayer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    overflow: hidden;
    text-align: center;
    animation: basicFadeIn 0.5s;
}

#btn-container {
    position: fixed;
    bottom: 0;
    right: 0;
}

a.btn {
    font-size: 12px;
    cursor: pointer;
    color: grey;
    text-decoration: none;
    outline: 1px dashed grey;
    margin: 1px;
    padding: 5px;
    opacity: 0.3;
}

a.btn:hover {
    opacity: 1;
}

img {
    width: auto;
    max-height: 500px;
}

@keyframes basicFadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}